doctype html
html
  head
    title Digital marketing
    block scripts
    block style          
  body
    header
      .logo
        img(src='/static/1.png' width='60px')
        | Digital
      nav
       ul
        li
          a(href='/') Home
        li
          a(href='/contact') Contact
        li
          a(href='#') About
        li
          a(href='#') Service
        li
          a(href='#') Faq
        li.signup
          a(href='#') SignUp
    block content
    foot
      footer 
        | Digital Marketing @ 2020 | All right reserved. 